* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Playfair Display;
}
.container {
  position: relative;
  padding: 20px 135px 0px 135px;
  width: 100%;
  max-width: 1800px;
  margin-inline: auto;
}
main {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 50px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    .a_teg {
      text-decoration: none;
      color: black;
    }
    li {
      text-decoration: none;
      display: flex;
      gap: 48px;
      a {
        text-decoration: none;
        color: black;
        transition: all 1s;
      }
      a:hover {
        background-color: rgba(253, 196, 53, 1);
        transition: all 1s;
        border-radius: 24px;
        padding: 5px;
        color: black;
      }
    }
    img {
      width: 25px;
      height: 25px;
      /* display: none; */
      opacity: 0;
    }
  }
}
.centre {
  display: flex;
  .child_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 24px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      border: none;
      border-radius: 8px;
      padding: 8px 24px 8px 24px;
      transition: all 1s;
      /* background-color: rgb(53, 253, 96); */
      font-size: 18px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    button:hover {
      background-color: rgba(253, 196, 53, 1);
      transition: all 1s;
    }
  }
  .child_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    img {
      width: 524px;
      height: 524px;
      border-radius: 600px;
      scale: 0.8;
    }
  }
}
.aloqa {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 24px;
    /* border: solid; */
    width: 400px;
    form {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
    input {
      width: 400px;
      height: 40px;
      border-radius: 8px;
      padding: 5px;
      border: solid 1px;
    }
    button {
      border: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      width: 89px;
      height: 43px;
      padding: 8px 24px 8px 24px;
      background-color: rgba(253, 196, 53, 1);
      border: none;
    }
  }
}
footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  .social {
    display: flex;
    gap: 24px;
    img {
      width: 37px;
      height: 37px;
      border-radius: 10px;
    }
    img:hover {
      padding: 2px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 10px;
  }
  main {
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 50px;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      li {
        text-decoration: none;
        display: flex;
        gap: 48px;

        a {
          text-decoration: none;
          color: black;
        }
        a:hover {
          background-color: rgba(253, 196, 53, 1);
          transition: all 1s;
          border-radius: 24px;
          padding: 5px;
          color: black;
        }
      }
    }
  }

  footer {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    .social {
      display: flex;
      gap: 24px;
      img {
        width: 21px;
        height: 21px;
      }
    }
  }
}
@media (max-width: 780px) {
  .container {
    position: relative;
    height: 80vh;
    padding: 20px;
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
  }
  main {
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 50px;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      li {
        text-decoration: none;
        display: flex;
        gap: 48px;
        display: none;
        a {
          text-decoration: none;
          color: black;
          transition: all 1s;
        }
        a:hover {
          color: #ffffff;
          transition: all 1s;
          padding: 5px;
        }
      }
      img {
        /* display: block; */
        opacity: 1;
      }
      img:hover {
        padding: 2px;
      }
    }
  }
  .centre {
    display: flex;
    flex-direction: column;
    .child_right {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: center;
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
      }
    }
    .child_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 524px;
        height: 524px;
        border-radius: 600px;
        scale: 0.8;
      }
    }
  }
  .aloqa {
    scale: 0.8;
  }
}
@media (max-width: 200px) {
  .container {
    position: relative;
    /* height: 80vh; */
    /* padding: 10px; */
    width: 100%;
    /* max-width: 1800px; */
    margin-inline: auto;
  }
  main {
    display: flex;
    flex-direction: column;
    header {
      h1 {
        font-size: 21px;
      }
    }
  }
  .centre {
    display: flex;
    flex-direction: column;
    .child_right {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 18px;
      }
    }
    .child_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 224px;
        height: 250px;
        border-radius: 600px;
        scale: 0.7;
      }
    }
  }
  .aloqa {
    scale: 0.4;
  }
  footer {
    /* width: 100%; */
    /* border: solid; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
}
