* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Playfair Display;
}
body,
html {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  position: relative;
  padding: 20px 135px 0px 135px;
  width: 100%;
  max-width: 1800px;
  margin-inline: auto;
}
main {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 50px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    .a_teg {
      text-decoration: none;
      color: black;
    }
    nav {
      text-decoration: none;
      display: flex;
      gap: 48px;
      a {
        text-decoration: none;
        color: black;
        transition: all 1s;
      }
      a:hover {
        color: #ffffff;
        transition: all 1s;
        padding: 5px;
      }
    }
    img {
      width: 25px;
      height: 25px;
      display: none;
      opacity: 0;
      cursor: pointer;
    }
    .menu-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100;
      background: rgba(0, 0, 0, 0.9);
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 1000;
    }
    .menu-overlay a {
      color: white;
      font-size: 24px;
      text-decoration: none;
      margin: 15px;
      transition: 0.3s;
    }
    .menu-overlay a:hover {
      color: #f1c40f;
    }
    .close-btn {
      top: 20px;
      right: 30px;
      font-size: 30px;
      color: white;
      cursor: pointer;
    }
  }
  .ui_and_picture {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    .ui {
      display: flex;
      flex-direction: column;
      gap: 12px;
      h3 {
        color: rgba(253, 196, 53, 1);
        font-size: 20px;
      }
      p {
        color: gray;
        font-size: 24px;
      }
      h1 {
        font-weight: 700;
        font-size: 64px;
      }
      ul {
        /* width: 244px; */
        display: flex;
        gap: 12px;
        .button_project {
          border-radius: 8px;
          padding: 8px 24px 8px 24px;
          /* background-color: rgba(253, 196, 53, 1); */
          border: none;
          font-size: 18px;
          transition: all 1s;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .button_linkedin {
          /* width: 117px; */
          /* height: 43px; */
          border-radius: 8px;
          /* border: solid 2px; */
          border: none;
          padding: 8px 24px 8px 24px;
          font-size: 18px;
          transition: all 1s;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .button_project:hover {
          background-color: rgba(253, 196, 53, 1);
          transition: all 1s;
          scale: 1.1;
          border-radius: 0px;
          /* text-decoration: underline; */
          /* border: solid 1px; */
        }
        .button_linkedin:hover {
          background-color: rgba(253, 196, 53, 1);
          transition: all 1s;
          scale: 1.1;
          border-radius: 0px;
          /* text-decoration: underline; */
          /* border: solid 1px; */
        }
      }
    }
    .picture {
      position: absolute;
      top: -8px;
      right: 0px;
      z-index: -10;
      align-items: center;

      img {
        height: 555px;
      }
    }
    .picture_hide {
      opacity: 0;
    }
  }
}
.prject_main {
  /* border: solid; */
  top: 673px;
  left: 222px;
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .child_left {
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: center;
    hr {
      width: 100px;
      height: 4px;
      border-radius: 2px;
      background-color: rgba(253, 196, 53, 1);
      border: none;
    }
  }
  .card1 {
    width: 992px;
    border-radius: 24px;
    display: flex;
    .child_left {
      width: 50%;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 24px 0px 0px 24px;
      .view_button {
        width: 150px;
        height: 43px;
        border-radius: 24px;
        border: solid 1px;
        padding: 8px 24px 8px 24px;
        color: rgba(37, 40, 43, 1);
      }
    }
    .child_right {
      img {
        border-radius: 0px 24px 24px 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        height: 100%;
      }
    }
  }
  .c2 {
    .child_left {
      border-radius: 0px 24px 24px 0px;
    }
    .child_right {
      img {
        border-radius: 24px 0px 0px 24px;
        height: 100%;
      }
    }
  }
}
footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  .social {
    display: flex;
    gap: 24px;
    img {
      width: 37px;
      height: 37px;
      border-radius: 10px;
    }
    img:hover {
      padding: 2px;
    }
  }
}

@media (max-width: 1000px) {
  main {
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 50px;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      nav {
        text-decoration: none;
        display: flex;
        gap: 48px;

        a {
          text-decoration: none;
          color: black;
        }
        a:hover {
          background-color: #ffff00;
          transition: all 1s;
          border-radius: 24px;
          padding: 5px;
          color: black;
        }
      }
    }
    .ui_and_picture {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 62px;
      .ui {
        display: flex;
        flex-direction: column;
        gap: 28px;
        h3 {
          /* color:  ; */
          font-size: 20px;
        }
        p {
          color: gray;
          font-size: 20px;
        }
        h1 {
          font-weight: 700;
          font-size: 34px;
        }
        ul {
          display: flex;
          gap: 22px;
          /* border: solid; */
          .button_project {
            border-radius: 8px;
            padding: 8px 24px 8px 24px;
            border: none;
            font-size: 15px;
          }
          .button_linkedin {
            border-radius: 8px;
            /* border: solid 2px; */
            padding: 8px 24px 8px 24px;
            font-size: 15px;
          }
          .button_project:hover {
            background-color: rgba(253, 196, 53, 1);
            transition: all 1s;
            scale: 1.1;
            border-radius: 0px;
            /* text-decoration: underline; */
            /* border: solid 1px; */
          }
          .button_linkedin:hover {
            background-color: rgba(253, 196, 53, 1);
            transition: all 1s;
            scale: 1.1;
            border-radius: 0px;
            /* text-decoration: underline; */
            /* border: solid 1px; */
          }
        }
      }
      .picture {
        position: relative;
        top: 11px;
        right: 0px;
        z-index: -10;
        align-items: center;
        img {
          height: 455px;
        }
      }
    }
  }

  .prject_main {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .child_left {
      display: block;
      align-items: center;
      justify-content: center;
    }
    .card1 {
      flex-direction: column-reverse;
      width: 100%;
      border-radius: 24px;
      display: block;
      gap: 30px;
      .child_left {
        width: 100%;
        height: 50%;
        display: flex;
        padding: 10px;
        border-radius: 24px;
        scale: 0.9;
        .view_button {
          border-radius: 24px;
          border: solid 1px;
          color: rgba(37, 40, 43, 1);
        }
      }
      .child_right {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 24px;

        img {
          width: 100%;
          scale: 0.9;
          border-radius: 24px;
        }
      }
    }
    .c2 {
      display: flex;
      flex-direction: column-reverse;
      .child_left {
        border-radius: 24px;
      }
      .child_right {
        img {
          border-radius: 24px;
        }
      }
    }
  }
  footer {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    .social {
      display: flex;
      gap: 24px;
      img {
        width: 21px;
        height: 21px;
      }
    }
  }
}
@media (max-width: 780px) {
  .container {
    position: relative;
    height: 80vh;
    padding: 20px;
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
  }
  main {
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 50px;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      nav {
        text-decoration: none;
        display: flex;
        gap: 48px;
        display: none;
        a {
          text-decoration: none;
          color: black;
          transition: all 1s;
        }
        a:hover {
          color: #ffffff;
          transition: all 1s;
          padding: 5px;
        }
      }
      img {
        display: block;
        opacity: 1;
      }
      img:hover {
        padding: 2px;
      }
      .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1000;
      }
      .menu-overlay a {
        color: white;
        font-size: 24px;
        text-decoration: none;
        margin: 15px;
        transition: 0.3s;
      }
      .menu-overlay a:hover {
        color: #f1c40f;
      }
      .close-btn {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 30px;
        color: white;
        cursor: pointer;
      }
    }
    .picture {
      position: absolute;
      top: -8px;
      right: 0px;
      z-index: -10;
      align-items: center;
      display: flex;
      justify-content: center;
      img {
        height: 555px;
        /* border: solid; */
      }
    }
    .picture_hide {
      opacity: 0;
    }
  }
  .prject_main {
    .card1 {
      flex-direction: column-reverse;
    }
    .c2 {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
@media (max-width: 200px) {
  .container {
    position: relative;
    height: 80vh;
    padding: 10px;
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
  }
  main {
    .ui_and_picture {
      /* border: solid; */
      .ui {
        h3 {
          font-size: 15px;
        }
        h1 {
          font-size: 15px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .picture {
      position: absolute;
      top: -8px;
      right: 0px;
      z-index: -10;
      align-items: center;
      display: flex;
      justify-content: center;
      img {
        height: 555px;
        /* border: solid; */
        scale: 0.4;
      }
    }
    .picture_hide {
      opacity: 0;
    }
    ul {
      display: flex;
      /* border: solid; */
      flex-direction: column;
      .button_project {
        font-size: 5px;
        border: solid;
      }
    }
  }
  .prject_main {
    h1 {
      font-size: 16px;
    }
  }
  .prject_main {
    .card1 {
      flex-direction: column-reverse;
    }
    .c2 {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
