* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Playfair Display;
}
body, html {
  overflow-x: hidden; 
  min-height: 100vh;   
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  position: relative;
  padding: 20px 135px 0px 135px;
  width: 100%;
  max-width: 1800px;
  margin-inline: auto;
}
main {
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 50px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    .a_teg {
      text-decoration: none;
      color: black;
    }
    nav {
      text-decoration: none;
      display: flex;
      gap: 48px;
      a {
        text-decoration: none;
        color: black;
        transition: all 1s;
      }
      a:hover {
        background-color: rgba(253, 196, 53, 1);
        transition: all 1s;
        border-radius: 24px;
        padding: 5px;
        color: black;
      }
    }
    img {
      width: 25px;
      height: 25px;
      /* display: none; */
      opacity: 0;
    }
    .menu-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100;
      background: rgba(0, 0, 0, 0.9);
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 1000;
  }
  .menu-overlay a {
      color: white;
      font-size: 24px;
      text-decoration: none;
      margin: 15px;
      transition: 0.3s;
  }
  .menu-overlay a:hover {
      color: #f1c40f;
  }
  .close-btn {
    
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
  }
}
.centre {
  display: flex;
  .child_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 24px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      border: none;
      border-radius: 8px;
      padding: 8px 24px 8px 24px;
      transition: all 1s;
      /* background-color: rgb(53, 253, 96); */
      font-size: 18px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    button:hover {
      background-color: rgba(253, 196, 53, 1);
      transition: all 1s;
    }
  }
  .child_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    img {
      width: 524px;
      height: 524px;
      border-radius: 600px;
      scale: 0.8;
    }
  }
}
footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  .social {
    display: flex;
    gap: 24px;
    img {
      width: 37px;
      height: 37px;
      border-radius: 10px;
    }
    img:hover {
      padding: 2px;
    }
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 10px;
  }
  main {
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 50px;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      nav {
        text-decoration: none;
        display: flex;
        gap: 48px;

        a {
          text-decoration: none;
          color: black;
        }
        a:hover {
          background-color: rgba(253, 196, 53, 1);
          transition: all 1s;
          border-radius: 24px;
          padding: 5px;
          color: black;
        }
      }
    }
  }

  footer {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    .social {
      display: flex;
      gap: 24px;
      img {
        width: 21px;
        height: 21px;
      }
    }
  }
}
@media (max-width: 780px) {
  .container {
    position: relative;
    height: 80vh;
    padding: 20px;
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
  }
  main {
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 50px;
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 56px;
      nav {
        text-decoration: none;
        display: flex;
        gap: 48px;
        display: none;
        a {
          text-decoration: none;
          color: black;
          transition: all 1s;
        }
        a:hover {
          color: #ffffff;
          transition: all 1s;
          padding: 5px;
        }
      }
      img {
        /* display: block; */
        opacity: 1;
      }
      img:hover {
        padding: 2px;
      }
      .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1000;
    }
    .menu-overlay a {
        color: white;
        font-size: 24px;
        text-decoration: none;
        margin: 15px;
        transition: 0.3s;
    }
    .menu-overlay a:hover {
        color: #f1c40f;
    }
    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 30px;
      color: white;
      cursor: pointer;
  }
    }
  }
  .centre {
    display: flex;
    flex-direction: column;
    .child_right {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: center;
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
      }
    }
    .child_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 524px;
        height: 524px;
        border-radius: 600px;
        scale: 0.8;
      }
    }
  }
}
@media (max-width: 200px) {
  .container {
    position: relative;
    /* height: 80vh; */
    /* padding: 10px; */
    width: 100%;
    /* max-width: 1800px; */
    margin-inline: auto;
  }
  main {
    display: flex;
    flex-direction: column;
    header {
      h1 {
        font-size: 21px;
      }
    }
  }
  .centre {
    display: flex;
    flex-direction: column;
    .menu-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 1000;
  }
  .menu-overlay a {
      color: white;
      font-size: 24px;
      text-decoration: none;
      margin: 15px;
      transition: 0.3s;
  }
  .menu-overlay a:hover {
      color: #f1c40f;
  }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
    .child_right {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 18px;
      }
    }
    .child_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 224px;
        height: 250px;
        border-radius: 600px;
        scale: 0.7;
      }
    }
  }
  footer {
    /* width: 100%; */
    /* border: solid; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }
}
